<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button small (click)="open()">New Shopping Bag</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item class="nlp" *ngFor="let bag of bags" (click)="open(bag)">
      {{ bag.title }}
    </ion-item>
  </ion-list>
  <button ion-button small (click)="clear()">
    Cear list
  </button>
</ion-content>
