<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shopping bag</ion-title>
    <ion-buttons end>
      <button ion-button small  *ngIf="editing" (click)="save()">
        Save
      </button>
      <button ion-button small  *ngIf="!editing" (click)="edit()">
        Edit
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >

  <div *ngIf="editing" >
    <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Title</ion-label>
          <ion-input type="text" [(ngModel)]="title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item class="nlp">
          <!-- <ion-label stacked>Quantity</ion-label> -->
          <ion-select class="np" [(ngModel)]="current_item.qty">
            <ion-option *ngFor="let qty_option of qty_options" [value]="qty_option">{{qty_option}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
          {{current_item.qty}}
        </ion-item> -->
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <!-- <ion-label stacked>Item</ion-label> -->
          <ion-input type="text" (keyup)="inputChange()" [(ngModel)]="current_item.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button small color="secondary" [disabled]="add_btn_disabled" (click)="add()" >Add</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="matches.length>0">
      <ion-col col-12>
        <ion-list inset>
          <ion-item class="nlp" detail-none *ngFor="let match of matches" >
            <ion-row>
              <ion-col col-10>
                <span (click)="matchSelect(match)"> {{match}} </span>
              </ion-col>
              <ion-col col-2>
                <button ion-button color="secondary" small (click)="matchAdd(match)"> + </button>
              </ion-col>
            </ion-row>

              
              
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      

      </ion-row>
    </ion-grid>


    <h3>List</h3>

    <ion-list inset  reorder="true">
      <ion-item-sliding *ngFor="let item of items">
   
        <ion-item>
            {{ item.qty }} {{item.name}}
        </ion-item>
        
        <ion-item-options>
            <button ion-button icon-only (click)="editItem(item)" light>
                <ion-icon name="paper"></ion-icon>
            </button>
            <button ion-button icon-only (click)="deleteItem(item)" danger>
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div *ngIf="!editing" >
    <ion-list inset reorder="true" class="saved_items_list">
      <ion-item class="nlp" *ngFor="let item of items" [ngClass]="{'done':item.done}">
        <ion-row>
          <ion-col col-2>
            <ion-icon (click)="done(item)" name="checkmark"></ion-icon>
          </ion-col>
          <ion-col col-8>
            {{ item.qty }} {{item.name}}
          </ion-col>
        </ion-row>
          
      </ion-item>
    </ion-list>
  </div>

</ion-content>

